<app-menu></app-menu>
<div class="main-container">
    <div class="welcome-section">
      <h1>Welcome to branch in {{ branch }}!</h1>
      <p>
        We're glad to have you here. Below are some tips to help you navigate the
        site:
      </p>
    </div>
  
    <div class="info-section">
      <h2>Navigation Tips</h2>
      <ul>
        <li>
          <strong>Checkered Flag:</strong> Takes you back to branch selection.
        </li>
        <li>
          <strong>Tracks:</strong> View all available tracks.
        </li>
        <li>
          <strong>Events:</strong> Check out upcoming events at your branch.
        </li>
        <li>
            <strong>Person:</strong> Takes you to registration/login/user page.
          </li>
      </ul>
    </div>
  
    
  </div>