<mat-toolbar class="header">
    <div class="headerLeft">
        <a routerLink="/home"> 
            <img className="icon" src="https://cdn-icons-png.freepik.com/256/11644/11644174.png" 
                width="50"
                height="50"/>
            </a>
    </div>
    <div class="headerRight">
      
       <a routerLink="/user"><img className="icon" src="https://static-00.iconduck.com/assets.00/user-icon-256x256-1n54kpt1.png" 
        width="50"
        height="50"
        /></a>

    
    </div>
  </mat-toolbar>
  