<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          [class.invalid]="signinForm.get('email')?.invalid && signinForm.get('email')?.touched"
        />
        <small *ngIf="signinForm.get('email')?.invalid && signinForm.get('email')?.touched">
          Please enter a valid email.
        </small>
      </div>
      <div>
        <label for="passwordHash">Password</label>
        <input
          type="passwordHash"
          id="passwordHash"
          formControlName="passwordHash"
          [class.invalid]="signinForm.get('passwordHash')?.invalid && signinForm.get('passwordHash')?.touched"
        />
        <small *ngIf="signinForm.get('passwordHash')?.invalid && signinForm.get('passwordHash')?.touched">
          Password must be at least 6 characters.
        </small>
      </div>
      <button type="submit" [disabled]="signinForm.invalid">Login</button>
    </form>
    <p>Don't have an account? <a routerLink="/register">Register here</a>.</p>
  </div>